#DeckCodeErrorContainer {
    color: rgb(233, 192, 192);
    display: none;
}
.DeckCodeErrorImg {
    width: 36px;
    float: left;
}
#DeckCodeErrorMsg {
    width: calc(100% - 50px);
    float: left;
    padding: 12px 0 0 10px;
}
#DeckBuilderTitleContainer {
    background-image: url("../Images/Styles/DeckViewerDeckTitleBG.jpg");
}
#DeckBuilderDeckTitle {
    font-size: 20pt;
    font-weight: bold;
    color: #eee;
    padding: 10px;
    float: left;
}
#DeckBuilderLeft {
    padding: 0 0 0 1.5%;
    width: calc(340px - 1.5%);
    min-height: 50px;
    float: left;
}
#DeckBuilderCentre {
    padding: 0 1% 0 1%;
    width: calc(49% - 170px);
    min-height: 50px;
    float: left;
    max-height: 900px;
}
#DeckBuilderRight {
    background-color: rgba(27, 60, 77, 0.3);
    width: calc(48.5% - 170px);
    min-height: 50px;
    float: left;
    font-family: "Radiance", sans-serif;
}
#DeckBuilderSelectedCardPreview {
    width: 320px;
    font-size: 21pt;
    transform: perspective(400px) rotateY(2deg);
}
#DeckBuilderDeckNameContainer {
    background-image:  url("../Images/Styles/DeckBuilderDeckNameEdit.png"), url("../Images/Styles/DeckViewerDeckTitleBG.jpg");
    background-position: right, left;
    background-repeat: no-repeat, repeat;
    max-height: 48px;
}
#DeckBuilderDeckNameInput {
    background-color: rgba(255,255,255,0);
    font-family: "radiance", sans-serif;
    font-size: 18pt;
    color: #eee;
    border: none;
    padding: 8px;
    width: calc(100% - 16px);
    text-shadow: 0 0 1px #aaa;
}
#DeckBuilderDeckNameInput:focus {
    text-shadow: 0 0 2px #ddd;
}
#DeckBuilderDeckStats {
    width: 100%;
    min-height: 40px;
}
#DeckBuilderCardTypeStats {
    width: 35%;
    padding: 0 7.5%;
    float: left;
    cursor: default;
}
#DeckBuilderItemTypeStats {
    width: 45%;
    padding: 0 2.5%;
    float: left;
    cursor: default;
}
.DeckBuilderCardTypeTitle {
    font-size: 14pt;
    color: #bbb;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}
.DeckBuilderCardTypeContainer {
    width: 33%;
    text-align: center;
    float: left;
}
.DeckBuilderItemTypeContainer {
    width: 25%;
    text-align: center;
    float: left;
}
.DeckBuilderCardTypeSymbol {
    width: 100%;
    text-align: center;
    font-size: 26pt;
    color: #ccc;
    line-height: 0.8em;
}
.DeckBuilderCardTypeAmount {
    width: 100%;
    text-align: center;
    font-size: 12pt;
    color: #ddd;
}
.DeckBuilderHeroContainerShell {
    width: 95%;
    margin: 10px auto;
}
.DeckBuilderHeroIconContainer {
    box-shadow: inset 2px 2px 6px black;
    width: 60px;
    height: 60px;
    margin: 0 calc(10% - 30px);
    float: left;
}
.DeckBuilderHeroIconContainerBG {
    color: #777;
    text-align: center;
    line-height: 14pt;
    font-size: 10pt;
    padding-top: 10px;
}
.DeckBuilderHeroIconContainerBG span {
    font-size: 24pt;
    font-weight: bold;
}
.DeckBuilderHeroIcon {
    position: relative;
    top: -50px;
    left: 4px;
    width: 54px;
    height: 54px;
}
.DeckBuilderHeroIcon img {
    width: 100%;
}

#DeckBuilderCardManaColourStats {
    padding: 2% 0;
}
#DeckBuilderCardManaColourGraphContainer {
    width: calc(100% - 115px);
    box-shadow: inset 2px 2px 6px black;
    padding: 6px 0 6px 2%;
    margin: 0 10px;
    background-color: rgb(0,0,0,0.2);
    float: left;
    cursor: default;
}
.DeckBuilderCardManaColourChartBarContainer {
    border: 2px inset rgb(50,50,60);
    height: 70px;
    width: calc(11% - 4px);
    margin: 0 0.5%;
    float: left;
    background-color: rgba(0,0,0,0.3);
}
.DeckBuilderCardManaColourChartNumber {
    font-size: 12pt;
    color: #ccc;
    font-weight: bold;
    height: 20px;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
}
.DeckBuilderCardManaColourChartBarOuter {
    height: 50px;
    width: 100%;
}
.DeckBuilderCardManaColourChartBarInner {
    width: 100%;
}  
.DeckBuilderCardManaColourChartBarPadding {
    width: 100%;
}
#DeckBuilderCardColourBoxChartContainer {
    box-shadow: inset 2px 2px 6px black;
    width: 80px;
    height: 80px;
    margin: 2px 0 0 0;
    background-color: rgb(0,0,0,0.2);
    float: left;
    cursor: default;
}
.DeckBuilderCardColourBoxChartInner {
    border: 3px inset rgb(50,50,60);
    width: calc(43% - 6px);
    height: calc(38% - 6px);
    padding-top: 6%;
    margin: 4% 0 0 5%;
    background-color: white;
    text-align: center;
    float: left;
    color: #ddd;
    font-weight: bold;
    font-size: 14pt;
}
.DeckBuilderCardManaColouringR {
    background: linear-gradient(170deg, rgba(134, 14, 32, 0.8) 20%, rgba(199, 13, 41, 0.3));
}
.DeckBuilderCardManaColouringU {
    background: linear-gradient(170deg, rgba(11,53,78,0.9) 20%, rgba(14,73,105,0.6));
}
.DeckBuilderCardManaColouringB {
    background: linear-gradient(170deg, rgba(47,46,52,0.9) 20%, rgba(33,32,37,0.6));
}
.DeckBuilderCardManaColouringG {
    background: linear-gradient(170deg, rgba(62,90,50,0.9) 20%, rgba(47,72,36,0.6));
}
.DeckBuilderCardManaColouringC {
    background: linear-gradient(170deg, rgba(97, 99, 96, 0.9) 20%, rgba(59, 63, 57, 0.6));
}
#DeckBuilderDeckCardListContainer {
    width: calc(100% - 18px);
    padding: 4px;
    box-shadow: inset 2px 2px 6px black;
    margin: 6px;
    background-color: rgba(0,0,0,0.3);
    height: 500px;
    overflow-y: auto;
}
#DeckBuilderAvailableCardsList {
    overflow-y: auto;
    max-height: inherit;
}
#DeckBuilderLeft, #DeckBuilderCentre, #DeckBuilderRight {
    user-select: none;
}
.DeckBuilderGenerateCodeButton {
    width: 230px;
    margin: 3px 0 10px calc(50% - 115px);
}
#DeckCodeErrorContainer {
    color: rgb(233, 192, 192);
    display: none;
    padding: 5px;
}
.DeckCodeErrorImg {
    width: 36px;
    float: left;
}
#DeckCodeErrorMsg {
    width: calc(100% - 50px);
    float: left;
    padding: 5px 0 0 10px;
}
#DeckCodeContainer {
    width: calc(100% - 16px);
    font-family: monospace;
    padding: 4px;
    user-select: text;
    display: none;
    overflow: auto;
    word-wrap: break-word;
}
#DeckCodeField {
    background-color: rgba(255,255,255,0.1);
    font-size: 18pt;
    padding: 5px;
    width: calc(100% - 10px);
    border: none;
    color: #ddd;
    min-height: 110px;
    resize: none;
}
#DeckBuilderMobileWarning {
    color: rgb(233, 192, 192);
    padding: 20px;
    font-size: 24pt;
    font-family: "Radiance", sans-serif;
}





#CVOptions {
    min-height: 50px;
    margin-bottom: 10px;
    top:0;
    background-color: rgba(26,24,29,0.7);
    border-bottom: 2px solid black;
}
.CVOptionContainer {
    padding: 5px;
}
.CVOptionName {
    font-family: 'Radiance', sans-serif;
    color: #aaa;
    font-size: 12pt;
    text-shadow: 2px 2px 10px black;
}
.CVOptionButton {
    float: left;
    margin: 2px;
    background-position: center;
    cursor: pointer;
}
.CVOptionButtonUnselected {
    width: 30px;
    height: 30px;
    box-shadow: 0 0 4px 1px black;
}

.CVOptionButtonSelected {
    width: 28px;
    height: 28px;
    border: 1px solid #ddf;
    box-shadow: 0 0 4px 2px #aaf;
}
#CVOptionLayout1 {
    background-image: url('../Images/Styles/ViewStyle1.png');
}
#CVOptionLayout2 {
    background-image: url('../Images/Styles/ViewStyle2.png');
}
#ColourFilterR {
    background-color: #7b1918;
}
#ColourFilterU {
    background-color: #1f5e7f;
}
#ColourFilterB {
    background-color: #26252a;
}
#ColourFilterG {
    background-color: #476d36;
}
#ColourFilterC {
    background-color: #79756d;
}
.FilterButton {
    background-position: center;
    background-repeat: no-repeat;
    background-color: #333749;
}
#ItemFilterWeapon{
    background-image: url('../Images/Styles/WeaponFilter.png');
}
#ItemFilterArmor {
    background-image: url('../Images/Styles/ArmorFilter.png');
}
#ItemFilterAccessory {
    background-image: url('../Images/Styles/AccessoryFilter.png');
}
#ItemFilterConsumable {
    background-image: url('../Images/Styles/ConsumableFilter.png');
}
#CardTypeFilterHero {
    background-image: url('../Images/Styles/HeroFilter.png');
}
#CardTypeFilterCreep {
    background-image: url('../Images/Styles/CreepFilter.png');
}
#CardTypeFilterSpell {
    background-image: url('../Images/Styles/SpellFilter.png');
}
#CardTypeFilterImprovement {
    background-image: url('../Images/Styles/TEFilter.png');
}
#HiddenFilterUncollectable {
    background-color: #333749;
    background-image: url('../Images/Styles/UncollectableFilter.png');
    background-position: center;
    background-repeat: no-repeat;
}
#HiddenFilterSignature {
    background-color: #333749;
    background-image: url('../Images/Styles/SignatureFilter.png');
    background-position: center;
    background-repeat: no-repeat;
}
#FilterIncludeAbilityText {
    background-color: #333749;
    background-image: url('../Images/Styles/AbilityTextFilter.png');
    background-position: center;
    background-repeat: no-repeat;
}
#CardTextFilter {
    background-color: rgba(255,255,255,0.1);
    font-family: "radiance", sans-serif;
    font-size: 20pt;
    color: #eee;
}


#CardPreviewTooltip {
    position: absolute;
    z-index: 3;
    display: none;
}
.CardListItemContainer {
    background-size: 100%;
    width: 100%;
    height: 45px;
    margin-bottom: 2px;
    box-shadow: 1px 1px 5px black;
    cursor: default;
}
.CardListItemContainerR {
    background-image: url('../Images/Styles/CardList_FactionRed_1000px.png'), linear-gradient(170deg, rgba(59,8,16,0.8) 20%, rgba(103,14,28,0.3));
    background-position: top right;
    background-size: 500px 100%;
}
.CardListItemContainerB {
    background-image: url('../Images/Styles/CardList_FactionBlack_1000px.png'), linear-gradient(170deg, rgba(42,41,47,0.8) 20%, rgba(28,27,32,0.3));
    background-position: top right;
    background-size: 500px 100%;
}
.CardListItemContainerU {
    background-image: url('../Images/Styles/CardList_FactionBlue_1000px.png'), linear-gradient(170deg, rgba(11,53,78,0.8) 20%, rgba(14,73,105,0.3));
    background-position: top right;
    background-size: 500px 100%;
}
.CardListItemContainerG {
    background-image: url('../Images/Styles/CardList_FactionGreen_1000px.png'), linear-gradient(170deg, rgba(62,90,50,0.8) 20%, rgba(47,72,36,0.3));
    background-position: top right;
    background-size: 500px 100%;
}
.CardListItemContainerI {
    background: linear-gradient(170deg, rgba(122, 92, 34,0.8) 20%, rgba(102, 76, 28,0.3));
}
.CardListItemContainerC {
    background: linear-gradient(170deg, rgba(56, 62, 55,0.8) 20%, rgba(56, 62, 55,0.3));
}
.CardList_CardMiniPicture {
    width: 45px;
    height: 45px;
    float: left;
    background-color: rgba(0,0,0,0.6);
}
.CardList_CardMiniPicture img {
    width: 100%;
}
.CardList_CardTypeIcon {
    width: 22px;
    margin:11px 0 0 1px;
    height: 22px;
    float: left;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}
.CardList_CardTypeIconHero {
    background-image: url('../Images/MiscIcons/Hero.png');
}
.CardList_CardTypeIconCreep {
    background-image: url('../Images/MiscIcons/Creep.png');
}
.CardList_CardTypeIconSpell {
    background-image: url('../Images/MiscIcons/Spell.png');
}
.CardList_CardTypeIconImprovement {
    background-image: url('../Images/MiscIcons/TowerEnchantment.png');
}
.CardList_CardTypeIconWeapon {
    background-image: url('../Images/MiscIcons/Weapon.png');
}
.CardList_CardTypeIconArmor {
    background-image: url('../Images/MiscIcons/Armor.png');
}
.CardList_CardTypeIconAccessory {
    background-image: url('../Images/MiscIcons/Accessory.png');
}
.CardList_CardTypeIconConsumable {
    background-image: url('../Images/MiscIcons/Consumable.png');
}
.CardList_ManaCost {
    background-image: url('../Images/Styles/ManaIconCL.png');
    background-size: 120%;
    font-family: 'Artifact2Numbers', sans-serif;
}
.CardList_GoldCost {
    background-image: url('../Images/Styles/GC.png');
    background-size: 110%;
    font-family: 'Artifact2Numbers', sans-serif;
    letter-spacing: -0.1em;
}
.CardList_Cost {
    font-size: 21pt;
    line-height: 21pt;
    text-align: center;
    width: 30px;
    margin:4px 0 0 2px;
    height: 33px;
    padding-top: 3px;
    float: left;
    color: #eee;
    text-shadow: 1px 1px 2px black;
    background-position: center;
    background-repeat: no-repeat;
}
.CardList_CardNameS {
    width: calc(100% - 180px);
    height: 34px;
    padding: 11px 0 0 3px;
    font-family: 'Radiance', sans-serif;
    font-size: 14pt;
    color: #ddd;
    float: left;
}
.CardList_CardNameLong {
    width: calc(100% - 180px);
    height: 34px;
    padding: 11px 0 0 3px;
    font-family: 'Radiance', sans-serif;
    font-size: 14pt;
    letter-spacing: -0.07em;
    color: #ddd;
    float: left;
}
.CardList_CardNameXLong {
    width: calc(100% - 180px);
    height: 34px;
    padding: 6px 0 0 3px;
    font-family: 'Radiance', sans-serif;
    font-size: 14pt;
    line-height: 0.9em;
    color: #ddd;
    float: left;
}
.CardList_CardCount {
    width: 28px;
    height: 34px;
    padding: 8px 0 0 2px;
    font-family: 'Radiance', sans-serif;
    font-size: 18pt;
    color: #ddd;
    float: left;
    letter-spacing: -0.08em;
}
.CardList_HeroIcon {
    width: 41px;
    height: 41px;
    padding: 2px 0 0 3px;
    float: left;
}
.CardList_HeroIcon img {
    width: 95%;
}
.DeckBuilderCardListAddRemoveButtonContainer {
    width: 44px;
    height: 44px;
    float: left;
}
.DeckBuilderCardListAddToDeckButton {
    width: 50%;
    height: 44px;
    background-image: url("../Images/Styles/DeckBuilderCardListArrowRight.png");
    float: left;
    cursor: pointer;
    display: none;
}
.DeckBuilderCardListRemoveFromDeckButton {
    width: 50%;
    height: 44px;
    background-image: url("../Images/Styles/DeckBuilderCardListArrowLeft.png");
    float: left;
    cursor: pointer;
    display: none;
}
.DeckBuilderCardListAddToDeckButtonPadding {
    margin-left: 22px;
}
.DeckBuilderSingleAbilityContainer {
    cursor: default;
    margin-top: 10px;
    background-color: rgba(255,255,255,0.1);
    font-family: 'Radiance', sans-serif;
    border-radius: 10px;
    text-shadow: 2px 2px 2px black;
    width: 98%;
}
.DeckBuilderAbilityIcon {
    float: left;
    line-height: 0;
    width: 45px;
    height: 45px;
    margin: 4px;
    padding: 3px;
    box-shadow: inset 2px 2px 4px black;
    background-color: rgba(0,0,0,0.2);
}
.DeckBuilderAbilityIcon img {
    width: 100%;
}
.DeckBuilderAbilityTopText {
    float: left;
    padding: 8px 0 0 3px;
    width: calc(100% - 95px);
}
.DeckBuilderSignatureMana {
    background-image: url('../Images/Styles/ManaIconCL.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140%;
    font-family: 'Artifact2Numbers', sans-serif;
    margin-top: 10px;
    height: 35px;
    padding-top: 3px;
    width: 28px;
    float: left;
    text-align: center;
    color: #eee;
    font-size: 24pt;
    line-height: 24pt;
}
.DeckBuilderAbilityName {
    color: #ddd;
    font-size: 14pt;
}
.DeckBuilderAbilityType {
    color: #aaa;
    font-size: 12pt;
}
.DeckBuilderAbilityText {
    color: #ddd;
    font-size: 12pt;
    padding: 4px 8px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0 0 10px 10px;
}
#DeckBuilderSignatureContainer {
    cursor: default;
    margin-top: 10px;
    font-family: 'Radiance', sans-serif;
    border-radius: 10px;
    text-shadow: 2px 2px 2px black;
}
.DeckBuilderSignatureContainerR {
    background-color: rgba(255,100,100,0.2);
}
.DeckBuilderSignatureContainerU {
    background-color: rgba(50,110,141,0.4);
}
.DeckBuilderSignatureContainerG {
    background-color: rgba(100,255,100,0.2);
}
.DeckBuilderSignatureContainerB {
    background-color: rgba(11, 5, 17, 0.4);
}
.DeckBuilderSignatureContainerC {
    background-color: rgba(120,120,120,0.6);
}
.DeckBuilderSignatureContainerI {
    background-color: rgba(224, 201, 170, 0.3);
}
.DeckBuilderSigCardText {
    font-size: 12pt;
}
.DeckBuilderSigCardTextR {
    color: #caa;
}
.DeckBuilderSigCardTextU {
    color: #8ab;
}
.DeckBuilderSigCardTextB {
    color: #999;
}
.DeckBuilderSigCardTextG {
    color: #aca;
}
.DeckBuilderSigCardTextC {
    color: #bbb;
}
.DeckBuilderSigCardTextI {
    color: #C29E6E;
}


#LoadNewDeckButton {
    float: right;
    margin: 4px 5px 0 0;
}
#LoadDeckButton {
    margin-bottom: 10px;
}
.CardListItemContainer:hover .DeckBuilderCardListAddToDeckButton, .CardListItemContainer:hover .DeckBuilderCardListRemoveFromDeckButton {
    display: block;
}