@import url('https://fonts.googleapis.com/css?family=Aladin'); /* Card Mana */
@import url('https://fonts.googleapis.com/css2?family=Domine'); /* Card Mana */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500'); /* Card Stats and Gold */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

@font-face {
	font-family: 'Radiance';
	src: url('fonts/Radiance-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RadianceCon';
	src: url('fonts/radiance-regularcondensed-fixed.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('../Images/Styles/PageBG.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    display: block;
    background-color: #0e0c10;
    background-attachment: fixed;
}
#SiteHeader {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: black;
    box-shadow: 0 10px 50px black;
    z-index: 1;
    border-bottom: 2px solid black;
}
#SiteHeaderBackground {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 50px;
    text-align: center;
    overflow: hidden;
}
#SiteHeaderInner {
    position: relative;
    margin: 0 auto;
    padding-left: 150px;
    width: 950px;
    height: 50px;
    margin-top: -50px;
    background-image: url('../Images/Styles/HeaderLogo.png');
    background-position: center left;
    background-repeat: no-repeat;
    color: white;
}
.SiteHeaderButton {
    height: 37px;
    width: 175px;
    border-right: 2px solid black;
    float: left;
    font-family: 'Open Sans',sans-serif;
    color: #ddd;
    font-size: 14pt;
    padding-top: 13px;
    text-align: center;
    transform: skew(-30deg);
    cursor: pointer;
}
.SiteHeaderButtonUnselected {
    background-color: rgba(150,43,222,0.05);
}
.SiteHeaderButtonUnselected:hover {
    background-color: rgba(150,43,222,0.05);
    text-shadow: 0 0 20px rgb(35, 100, 240);
}
.SiteHeaderButtonSelected {
    background-color: rgba(65, 46, 77, 0.45);
    background-image: url('../Images/Styles/SiteHeaderButtonActive_175px.jpg');
    text-shadow: 0 0 20px white;
    height: 37px;
    padding-top: 13px;
}
.SiteHeaderButtonText {
    transform: skew(30deg);
    user-select: none;
}
.RestrictWidth {
    margin: 0 auto;
    max-width: 1150px;
    min-width: 975px;
}
#backgroundcontainer {
    position: fixed;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    text-align: center;
}
#backgroundcontainer video {
    height: 100%;
}
#PageContainer {
    min-height: 500px;
}
#PageHeader {
    font-family: 'Radiance', sans-serif;
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 5px 10px rgba(255,255,255,0.2);
}
#PageHeaderTitle {
    color: #eee;
    font-size: 32pt;
    font-weight: 700;
    text-shadow: 2px 2px 5px black;
}
#PageHeaderSubtitle {
    color: #eee;
    font-size: 18pt;
    font-weight: 700;
    text-shadow: 2px 2px 5px black;
}
.CursorPointer {
    cursor: pointer;
}
.TextColour_Golden {
    background: -webkit-linear-gradient(#d0b6ac, #a2928c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-shadow: none;
}
.TextColour_Red {
    color: rgb(211, 8, 8);
}
#SpecialTextTooltip {
    position: absolute;
    z-index: 3;
    max-width: 320px;
    border-radius: 3px;
    background-color: rgba(40,40,40,0.8);
    background-image: url("../Images/Styles/SpecialTextTooltip.jpg");
    font-family: "Radiance", sans-serif;
    padding: 5px 7px;
    box-shadow: 0 0 5px 1px black;
    border: 1px solid black;
    display: none;
}
#SpecialTextTitle {
    color: #ddd;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    font-size: 14pt;
}
#SpecialTextDesc {
    color: #ccc;
    font-size: 12pt;
    padding: 3px 0;
}
.ArtifactButtonSmall {
    font-family: 'Radiance', sans-serif;
    font-size: 14pt;
    background: linear-gradient(170deg, #373f49 20%, #2e2e3e);
    border: 0;
    padding: 10px;
    min-width: 140px;
    color: #9ea8ac;
    box-shadow: 1px 1px 6px black;
    cursor: pointer;
    transition: color 0.15s ease-out;
}
.ArtifactButtonSmall:hover {
    color: #ddd;
    text-shadow: 0 0 10px #438994;
    background: linear-gradient(170deg, #36434e 20%, #373953);
}
.OnlyMobile {
    display:none;
}
@media (max-width: 1090px) {
    .CardList_CardName {
        letter-spacing: -0.05em;
    }
}
@media (max-width: 1040px) {
    .CardList_CardName {
        letter-spacing: -0.1em;
    }
}
@media (pointer:coarse) {
    .OnlyMobile {
        display:block;
    }
    
}
@media (pointer:coarse) and (max-width: 1100px){
    #SiteHeaderInner{
        width: unset;
    }
    #SiteHeader {
        height: 75px;
    }
    #SiteHeaderBackground {
        height: 75px;
    }
    #SiteHeaderInner {
        padding-left: 150px;
        width: calc(100% - 150px);
        height: 75px;
        margin-top: -75px;
    }
    .SiteHeaderButton {
        height: 72px;
        width: 150px;
        font-size: 20pt;
        padding-top: 3px;
    }
    .SiteHeaderButtonSelected {
        background-image: url('../Images/Styles/SiteHeaderButtonActive_150-75.jpg');
    }
}
.float {
    float: left;
}
.floatr {
    float: right;
}
.clear {
    clear: both;
}
